<div class="jumbotron text-center">
    <h1>Bookart</h1>
    <p class="lead">welcomes you</p>
    <div>
        <a *ngIf="!authService.loggedIn()" class="btn btn-outline-primary" [routerLink]="['/login']">Login</a> &nbsp;
        <a *ngIf="!authService.loggedIn()" class="btn btn-outline-primary" [routerLink]="['/register']">Register</a>
        <a *ngIf="authService.loggedIn()" class="btn btn-outline-primary" [routerLink]="['/dashboard']">Shop Now</a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <h3>Browse Books</h3>
        <p>Surf your way throug to find books your like.</p>
    </div>
    <div class="col-md-4">
        <h3>Search your way</h3>
        <p>Search, Sort and filter the books based on your criteria.</p>
    </div>
    <div class="col-md-4">
        <h3>Place your order</h3>
        <p>Add books you like to your cart and place your order.</p>
    </div>
</div>